<html>

<head>

  <title>Inicio</title>

</head>

{% extends "sitio_web/base.html" %}

<body>

  

    {% load static %}

    {% block content %}

    
    <div class="container" style="margin: auto; text-align: center;">
         
      <form action="" method="post">
        {% csrf_token %}
        <label style="color: white; text-align: center;margin-top: 50px;"> Ingresa el nombre del producto</label>
        <br>
        <h5 style="color: white; text-align: center;margin-top: 15px;">
        Trata de ser lo más específico posible para una mejor búsqueda!</h5>

        <input type="text" placeholder="Ingresa el nombre del producto" style="width: 35%;">
        <br>
        <button class="btn btn-success" type="submit" style="margin-top: 10px;">
          <a style="color:white" href="{% url 'Resultado' %}">Buscar</a>
          </button>
      </form>

    </div>

    {% endblock %}

</body>
