<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a tu cotizador online</title>
</head>
{% extends "sitio_web/base.html" %}

<body>

  

    {% load static %}

    {% load crispy_forms_tags %}

    {% block content %}
    
<h3 style="text-align: center; margin-top: 30px;"> <a href="{% url 'Home' %}" style="color: black;">
    Bienvenido a tu cotizador online
</a>
</h3>

<h5 style="text-align: center; margin-top: 30px;"> Aquí están los resultados de tu búsqueda de</h5>

<table class="table" style="color: white; margin-bottom: 300px;">
    <thead>
      <tr>
        <th scope="col">Precios promedio</th>
        <th scope="col">Precio más bajo</th>
        <th scope="col">Precio más alto</th>
      </tr>
    </thead>
    <tbody>
        <th scope="row"></th>
        <th scope="row"></th>
        <th scope="row"></th>
        <th scope="row"></th>
    </tbody>  
</table>

<h5>Aquí están todos los precios encontrados</h5>




    {% endblock %}
</body>
</html>