<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a tu cotizador online</title>
</head>
{% extends "sitio_web/base.html" %}

<body>

  

    {% load static %}

    {% load crispy_forms_tags %}

    {% block content %}
    
<h3 style="text-align: center; margin-top: 30px;"> <a href="{% url 'Home' %}" style="color: black;">
    Bienvenido a tu cotizador online
</a>
</h3>

<h5 style="text-align: center; margin-top: 30px;"> Aquí están los resultados de tu búsqueda de </h5>

<table class="table" style="color: white; margin-bottom: 300px;margin-top: 30px;">
    <thead>
      <tr>
        <th scope="col">Precio promedio</th>
        <th scope="col">Precio más bajo</th>
        <th scope="col">Precio más alto</th>
      </tr>
    </thead>
    <tbody>
        <th scope="row">${{promedio.value}}</th>
        <th scope="row">${{minimo.value}}</th>
        <th scope="row">${{maximo.value}}</th>
    </tbody>  
</table>

<h5 style="color: white; margin-bottom: 300px;margin-top: 30px; text-align: center;">Aquí están todos los precios encontrados</h5>

<p style="color: white; margin-bottom: 300px;margin-top: 30px; text-align: center;"></p>>  
{{item.lista}}
</p>


    {% endblock %}
</body>
</html>